html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Navbar */

@media screen and (min-width: 1000px){
    #prenav-links{
        margin-top: 20px !important;
        background-color: transparent !important;
    }
    #nav_a{
        color: white !important;       
    }
    #nav_a2{
        color: white !important;
    }
    #nav_a3{
        color: white !important;
    }
    #nav_a4{
        color: white !important;
    }
    #nav_a5{
        color: white !important;
    }
    #nav_a6{
        color: white !important;
    }
}
@media screen and (max-width: 1000px){
    #loginBtn{
        border: none !important;
        margin-top: 18px;
        margin-bottom: 23px;
    }
    #loginBtn:hover {
        background-color: transparent !important;
    }
}

#logo{
    transition: 0.2s;
    margin-left: 16%;
    width: 220px;
    height: auto;
}
#navbar{        
    display: flex;
    background-color: rgba(26, 26, 26, 0);
    z-index: 1;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s ease-in-out;  /* Navbarens övergång när den minimeras eller maximeras vid skroll */
    padding: 35px 15px;
    min-width: 8vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}
#prenav-links{
    padding-right: 4px;
    transition: 0.2s ease-in-out;
}
.nav-links{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: lighter !important;
    font-family: 'Montserrat', sans-serif !important; 
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}
#loginBtn{
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    text-transform: uppercase;

    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    border-radius: 10px;
}
#loginBtn:hover a {
    color: black !important;
}
#loginBtn:hover {
    background-color: #fff;
    cursor: pointer;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Section1 - Framsida */

@media screen and (min-width: 1000px){
    .btn-wrapper{
        display: none !important;
    }
}

.background-filter {
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.5);
    position: absolute;
}
#headsec {
    z-index: 0;
    background-image: url(../bilder/background_v2.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;  

    display: flex;
    position: relative;    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 738px;
    height: 104vh;
    padding: 20px;
    margin-top: -30px;
}
#headsec h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 3px 3px 4px rgb(31, 31, 31);
    margin: 0;
    padding: 10px;

    z-index: 2;
}
#headsec p {
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(31, 31, 31); 
    padding: 10px;
    z-index: 2;
}
.btn-wrapper{
    z-index: 1;
    display: flex;
    flex-direction: row; 
    align-content: center;  
    margin-top: 40px;
}
.button{
    text-decoration: none;  
    color: white;
    border: 1px solid rgb(105, 105, 105);
    background-color: rgb(36, 36, 36);
    border-radius: 5px;   
    margin: 0;
    width: 100px;
    padding: 15px;
    font-size: 16px;

    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#btn1{
    margin-right: 10px;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;  
    color: black;
}
.button:active{
    background-color: rgb(153, 152, 152);
}

/* Section2 - Information */

.container-inf{
    display: flex;   
    flex-direction: row;
    margin: auto;
    width: 77.5vw;
    margin-top: 7%;   
}
.viewbox{  
    font-size: 20px;
    color: white;
    padding: 15px 15px 15px 20px;
    background-color: rgb(49, 45, 45);  
    border-radius: 15px;
    line-height: 25pt;
}
.viewbox h1{
    font-size: 25px;
}
.viewbox p{
    font-weight: normal;
}
.viewbox-1{   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 5vw;
}
.viewbox-2{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgba(0,0,0,0);
}

/* Section 3 - Prislista */

@media screen and (min-width: 1000px){
    .table-containers{
        float: left;
        width: 50%;
    }
}
@media screen and (max-width: 1300px){
    #colspan-head{
        font-size: 23px !important;
    }
    #colspan-grey{
        font-size: 17px !important;
    }
    #colspan-btn{
        font-size: 17px !important;
    }
    .td-term{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 700px){
    .table-align{
        margin-left: 4.5vw !important;
        margin-right: 4.5vw !important;
    }
}

#priceTextHeader{
    font-size: 20px;
    padding-top: 15vh;
    margin-bottom: 13vh;
    text-align: center;
}
.table-align{
    margin-left: 10vw;
    margin-right: 10vw;
}
#priceTextHeader p{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
.table-containers{  
    display: flex;
    flex-direction: column;
}
.priceList{
    border-collapse: separate;
}
table {
    border-collapse: collapse;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin: 20px; 
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.td-term{
    font-size: 17px;
}
td, th {
    text-align: left;
    padding: 20px;
    border: 1px solid #eee; 
}
#colspan-head{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #1f1810;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#colspan-grey{
    text-align: center;
    font-size: 19px;
    color: black;
    background-color: #eee;
}
.colspan-btn{
    text-align: center;
    font-size: 19px;
    padding-top: 24px;
    background-color: #eee;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pris{
    text-align: right;
}
.kontakt-button {
    border: solid 1.5px rgb(112, 112, 112); /* Ger knappen en omgivande "ram" */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Ger knappen en skugga */

    border-radius: 5px;
    background-color: #1f1810;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

    -webkit-transition-duration: 0.4s;  /* Safari */
    transition-duration: 0.4s;
}
.kontakt-button:hover{
    background-color:  #312619;
}


/* Section 4 - Kontakta */

@media screen and (max-width: 1630px){
    .viewbox-3{
        width: 200% !important;
    }
}
@media screen and (max-width: 1100px){
    .viewbox-3{
        width: 270% !important;
    }
}
@media screen and (max-width: 1000px){
    #marginDivContact{
        display: none;
    }
    #contactTextHeader{
        padding-top: 12vh !important;
    }
}
@media screen and (max-width: 700px){
    #form-parent{
        padding-left: 3vw !important; 
        padding-right: 3vw !important; 
    }
}

#contactTextHeader{
    text-align: center;
    font-size: 20px;
    padding-top: 17vh;
    margin-bottom: 15vh;
}
#contactTextHeader p{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
#importantViewBox{
    margin-right: 40px;
}
#detailsAddress{
    margin-top: -4px;
}
.viewbox-3{
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: rgba(0,0,0,0);
}

#form-parent{
    padding-top: 5vh; 
    padding-left: 1.3vw; 
    padding-right: 1.3vw; 
}
#form-container{
    background-color: #f7f7f7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 15px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;   
    padding-bottom: 20px;
}
.punktlagd-lista{
    list-style-type: none;
    margin-left: -25px;
}
.punktlagd-lista li{
    overflow: hidden; /* Gömmer objekt som går gränsar bort från margin */
    font-weight: normal;
    margin-left: -14px;
    position: relative;
}
.punktlagd-lista li span:first-child { /* Redigerar första span objektet i listan */
    float: left;
    padding: 0 10px 20px 0;
    background-color: #fff;
    position: relative;
}
.punktlagd-lista li span + span {
    float: right;
    padding: 0 10px 0 10px;
    background-color: #fff;
    position: relative;
}
.punktlagd-lista li:before {
    content: "............................................................................................................................................................................................................";
    white-space: nowrap;
    position: absolute;
}
input[type=text], select, textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=email], select, textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}
#formSendContainer{
    display: flex;
    justify-content: center;
    text-align: center;
}
#sendInput{
    border: solid 1px rgb(102, 101, 101); /* Ger knappen en omgivande "ram" */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Ger knappen en skugga */

    width: 100px;
    border-radius: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

    -webkit-transition-duration: 0.4s;  /* Safari */
    transition-duration: 0.4s;
}
#sendInput:hover {
    background-color: #3e3e3e;
}


/* Section 5 - Skickbedömning */

@media screen and (max-width: 1440px){
    .k_image_container{
        background-size: 130% !important;
    }
    #k_image_container2{
        background-position-x: 80%;
    }
}
@media screen and (max-width: 1300px){
    .k_image_container{
        width: 300% !important;
    }
    #k_image_container2{
        width: 140vw !important;
    }
    .k_viewbox p{
        font-size: 17px !important;
    }
}
@media screen and (max-width: 1000px){
    .align-skickbdm{
        display: flex;   
        flex-wrap: wrap;
    }
    .k_image_container{
        border-radius: 10px;
        margin-top: 40px !important;
        margin-left: 0 !important;
        height: 400px;
    }
    .k_viewbox{
        border-radius: 10px;
        height: 100% !important;
        font-size: 17px !important;
    }
    .k_viewbox p{
        font-weight: normal;
        font-size: 17px;
    }
}
@media screen and (max-width: 700px){
    .k_image_container{
        background-size: 150% !important;
    }
    #k_image_container2{
        background-position-x: 80%;
    }
    #k_viewbox2{
        margin-top: 25px !important;
    }
}
@media screen and (max-width: 500px){
    #k_image_container2{
        background-size: 200% !important;
    }
}

#conditionTextHeader{
    font-size: 20px;
    padding-top: 17vh;
    margin-bottom: 15vh;
}
#conditionTextHeader p{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.align-skickbdm{
    display: flex;   
    flex-direction: row;
    margin: auto;
    width: 77.5vw;
    margin-top: 7%;   
}
#align-skickbdm2{
    margin-top: 3%;   
}
.k_viewbox{
    font-size: 20px;
    height: 400px;
    color: white;
    padding: 20px 50px 20px 35px;
    background-color: rgb(49, 45, 45);  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.k_viewbox h1{
    font-size: 25px;
}
.k_viewbox p{
    font-weight: normal;
    line-height: 25pt;
}
.k_viewbox a{
    text-decoration: none; 
    color: white;
}
#k_viewbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: white;
    text-align: center;
    width: 100%;
}
#k_viewbox2 a{
    color: black;
    font-size: 23px;
}
.k_image_container{
    width: 140%;
    background-image: url(../bilder/used_piano.jpg);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: 100%;
    background-position-y: 15%;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#k_image_container2{
    background-image: url(../bilder/badpiano.jpg);

}


/* Section 6 - Om mig */

@media screen and (max-width: 1300px){
    .rep_image_container img{
        width: 230px !important;
    }
    .repbox{
        font-size: 21px !important;
    }
}
@media screen and (max-width: 1000px){
    .rep_image_container img{
        width: 180px !important;
    }
    .repbox{
        font-size: 19px !important;
    }
}
@media screen and (max-width: 700px){
    .rep_image_container img{
        width: 150px !important;
    }
    .rep_image_container{
        margin-left: 20px !important;
    }
    #rep_image_container2{
        margin-top: 30px !important;
    }
}
@media screen and (max-width: 700px){
    #rep_image_container2{
        margin-top: 30px !important;
    }
}
@media screen and (max-width: 550px){
    #rep_image_container2{
        margin-top: 45px !important;
    }
}
@media screen and (max-width: 450px){
    .rep_image_container img{
        width: 130px !important;
    }
    .repbox{
        margin-left: -7px !important;
    }
    .rep_image_container{
        margin-left: -10px !important;
    }
    #rep_image_container1{
        margin-top: 21px !important;
    }
    #rep_image_container2{
        margin-top: 70px !important;
    }
    #rep_image_container3{
        margin-top: 10px !important;
    }
}

#aboutTextHeader{
    font-size: 20px;
    padding-top: 17vh;
    margin-bottom: 15vh;
}
#aboutTextHeader p{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.align-ommig{
    display: flex;   
    flex-direction: row;
    margin: auto;
    width: 77.5vw;
    margin-top: 7%;   
}
.repbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;

    width: 60%;
    font-size: 23px;
    color: black;
    padding: 15px 15px 15px 20px;
}
.repbox p{
    font-weight: normal;
    line-height: 25pt;
}
.rep_image_container{
    margin-left: 40px;
    margin-top: 10px;
}
.rep_image_container img{
    width: 260px;
}
#rep_image_container1{
    transform: scale(0.9);
}


/* Section 7 - Blogg */

@media screen and (max-width: 600px){
    #blogTextHeader{
        display: none;
    }
}

#blogTextHeader{
    text-align: center;
    font-size: 20px;
    padding-top: 17vh;
    margin-bottom: 15vh;
}
#blogTextHeader p{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

/* Annat */

footer{
    margin-top: 200px;
    padding-bottom: 20px;
    text-align: center;
    color: #999;
}

.container-H1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerH1{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.2s;
    color: white;
    background-color: rgb(49, 44, 44);
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 40px;
}


/* Containers */

@media screen and (max-width: 700px){
    .container-inf{
        width: 85vw !important;
    }
    .align-ommig{
        width: 85vw;
    }
    .align-skickbdm{
        width: 85vw;  
    }
}


/* Remaining Breakpoints */

@media screen and (max-width: 1300px){
    .nav-links{           
        width: 70%;
        transition: transform 0.2s ease-in-out;
    }
    .viewbox{
        font-size: 17px;
    }
    #headsec h1 {
        font-size: 50px; 
    }
    #headsec p{
        font-size: 18.5px;
    }
}

@media screen and (min-width: 1000px){
    .link a:hover::before{ 
        visibility: visible;
        transform: scaleX(1);
    }
}

@media screen and (max-width: 1000px){   
    .nav-links{
        background-color: rgb(43, 40, 40);
        display: flex;        
        position: absolute;
        align-items: center;
        flex-direction: column;

        right: -320px;
        top: 90px;
        line-height: 80px;    
        width: 270px;
        border-radius: 25px;
        margin-right: 50px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

        transform: translateX(130%);
    }
    .nav-links li{
        padding-right: 34px;
    }

    #information{
        margin-top: 10vw;
    }
    #contactTextHeader{
        padding-top: 15vw;
    }
    .container-inf{
        flex-wrap: wrap;
    }
    .viewbox-1{   
        margin-right: 0 !important;
    }
    .viewbox-2{
        margin-top: 5%;
    }
    .viewbox-3{
        margin-top: 5%;
    }

    .list-container{
        flex-direction: column;
        align-items: center;
    }
    .columns {
        width: 92%;
    }
    #column-1{
        margin-bottom: 4vh;
    }

    #logo{
        margin-left: -13%;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    footer{
        font-size: 14px;
    }
}

@media screen and (max-width: 850px){
    .nav-links{
        width: 200px;
    }
}

@media screen and (max-width: 700px){
    #headsec h1 {
        font-size: 45px; 
    }
    #headsec p{
        font-size: 17px;
    }    
    .viewbox{
        font-size: 15px;
    }
    .nav-links{
        width: 160px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 500px){
    .button{
        width: 94px;
        font-size: 15px;
        height: auto;
    }
    #headsec h1{
        font-size: 40px;
    }
    #headsec p{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
    #logo{
        margin-left: 4px;
        height: auto;
    }
}

/* Hamburger Meny Animering */

.nav-active{
    z-index: 1;
    right: -7px;
    transform: translateX(0%);
}

/* Hamburgerlänkars animering */

@keyframes navLinkFade{ 
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{     
        opacity: 1;
        transform: translateX(0);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Underlinje Animering */

.link a:hover{
    color: rgb(231, 231, 231);
    transition: all 0.3s ease-in-out;
}
.nav-links a::before{ 
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(231, 231, 231);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
