
/* Skrollningssymbol */

.arrow,
.arrow:before{
    position: absolute;
    left: 50%;
}
.arrow{
    display: flex;
    width: 30px;
    height: 30px;
    top: 80%;
    margin-top: 3vh;
    margin-left: -18px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow{
    0%{
        opacity: 1;
    }   
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}
@media screen and (max-width: 1000px){
    .arrow{
        width: 24px;
        height: 24px;
        margin-left: -17px;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 500px){
    .arrow{
        width: 20px;
        height: 20px;
        margin-left: -16px;
    }
}

/* Skrollingsbar */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}


    
  